<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Профіль</title>

</head>

<body>

<main>

    <a th:href="@{/user/upload}">Завантажити документ</a>
    <section class="slick-slideshow">
        <div class="container">
            <div class="text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Назва</th>
                        <th>Дія</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="document : ${user.getDocuments()}">
                        <td>
                            <a th:text="${document.getName()}"></a>
                        </td>
                        <td>
                            <form th:action="@{/user/deleteDoc}" method="post">
                                <input type="hidden" th:name="documentId" th:value="${document.getId()}">
                                <button type="submit" class="btn btn-danger">Видалити</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>


</body>
</html>
