<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>СФК ЛНУП - Завантаження книги</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/slick.css"/>

    <link href="/css/tooplate-little-fashion.css" rel="stylesheet">


    <style>
        @media (min-width: 991px) {
            .dropdown-menu.center {
                left: 70% !important;
                transform: translateX(-70%);
            }

        }

        @media (max-width: 991px) {
            h2.mb-4 {
                margin-top: 30px;
            }
        }

        .cart-form-select {
            margin-bottom: 25px;
        }
    </style>

</head>

<body>

<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" th:href="@{/}">
                <strong><span>Бібліотека</span> СФК ЛНУП</strong>
            </a>

            <div class="d-lg-none">
                <a th:href="@{/user/profile}" class="bi-person custom-icon me-3"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Головна</a>
                    </li>

                    <a class="nav-link "  id="booksDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Книги
                    </a>
                    <ul class="dropdown-menu center" id="cssmenu" aria-labelledby="booksDropdown"
                        style="
                                       max-height:550px;
                                       overflow-x:hidden;
                                       overflow-y:visible;">
                        <li>
                            <a class="dropdown-item group-name" data-toggle="collapse" th:href="@{/user/upload}">Додати книгу</a>
                        </li>
                        <li th:each="group : ${groups}">
                            <a class="dropdown-item group-name" data-toggle="collapse" data-target="#group-${group.id}">
                                <span th:text="${group.getName()}"></span>
                            </a>
                            <ul id="group-${group.id}" class="collapse">
                                <li th:each="subject : ${group.getSubjects()}">
                                    <a class="dropdown-item subject-name" data-toggle="collapse" data-target="#subject-${subject.id}">
                                        <span th:text="${subject.getName()}"></span>
                                    </a>
                                    <ul id="subject-${subject.id}" class="collapse">
                                        <li th:each="book : ${subject.getBooks()}">
                                            <a th:href="@{/pdf/previewPDF/{id}(id=${book.getId()})}" class="dropdown-item book">
                                                <span th:text="${book.getName()}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <li class="nav-item">
                        <a class="nav-link" href="https://sclnau.com.ua">Сайт коледжу</a>
                    </li>
                </ul>

                <div class="d-none d-lg-block">
                    <a th:href="@{/user/profile}" class="bi-person custom-icon me-3"></a>
                </div>

            </div>
        </div>
    </nav>

    <section class="contact section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4">Завантажити книгу для <br> <span th:text="${group.getName()}"></span></h2>

                    <div th:if="${param.success}" class="alert alert-success">
                        <p>Книга успішно додана</p>
                    </div>

                    <form th:action="@{/user/uploadPost}" method="post" enctype="multipart/form-data" class="contact-form me-lg-5 pe-lg-3" role="form">

                        <div class="form-floating">
                            <div class="col-lg-6 col-12" style="width: auto">
                                <select class="form-select cart-form-select" id="inputGroupSelect01" name="subjectName">
                                    <option th:each="subject : ${subjects}" th:value="${subject.getName()}" th:text="${subject.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-floating">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Назва книги" required>

                            <label for="name">Назва книги</label>
                        </div>

                        <div class="form-floating my-4">
                            <input type="text" name="author" id="author" class="form-control" placeholder="Автор" required>

                            <label for="author">Автор</label>
                        </div>

                        <div class="form-floating my-4">
                            <input type="file" class="form-control" id="file" name="file" accept=".pdf" required><br><br>
                        </div>

                        <input type="hidden" name="groupId" th:value="${group.getId()}">

                        <div class="col-lg-5 col-6">
                            <button type="submit" class="form-control btn custom-btn">Завантажити</button>
                        </div>

                    </form>
                </div>

                <div class="col-lg-6 col-12 mt-5 ms-auto">
                    <div class="row">
                        <div class="col-6 border-end contact-info">
                            <h6 class="mb-3">Формати файлів</h6>

                            <p class="text-muted">Бібліотека підримує лише формат PDF</p>
                        </div>

                        <div class="col-6 contact-info">
                            <h6 class="mb-3">Найшли помилку - пишіть</h6>

                            <a href="mailto:yuriy.ohonovskiy@gmail.com" class="custom-link">
                                yuriy.ohonovskiy@gmail.com
                                <i class="bi-arrow-right ms-2"></i>
                            </a>
                        </div>

                        <div class="col-6 border-top border-end contact-info">
                            <h6 class="mb-3">Наш коледж</h6>

                            <p class="text-muted">Львівська область, м. Стрий, вул. Львівська, 169</p>
                        </div>

                        <div class="col-6 border-top contact-info">
                            <h6 class="mb-3">Наші соціальні мережі</h6>

                            <ul class="social-icon">
                                <li><a href="https://www.facebook.com/groups/sclnau" class="social-icon-link bi-facebook"></a></li>

                                <li><a href="https://t.me/sclnau" class="social-icon-link bi-telegram"></a></li>

                                <li><a href="https://www.instagram.com/stryicollege/" class="social-icon-link bi-instagram"></a></li>

                                <li><a href="https://www.youtube.com/channel/UCOB4xAFAC2Btl59mO7C82og" class="social-icon-link bi-youtube"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <img src="/images/upload/upload.jpg" class="header-image img-fluid" alt="">
    </section>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<!-- JAVASCRIPT FILES -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/Headroom.js"></script>
<script src="/js/jQuery.headroom.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $(".group-name").click(function() {
            $(this).next(".collapse").toggleClass("show");
        });

        $(".subject-name").click(function() {
            $(this).next(".collapse").toggleClass("show");
        });
    });

    const dropdownContent = document.querySelector('.dropdown');

    dropdownContent.addEventListener('click', function (e) {
        e.stopPropagation();
    });

    document.addEventListener('click', function () {
        dropdownContent.style.display = 'none';
    });
</script>

<script>
    document.querySelector('.dropdown-menu').addEventListener('click', function(event) {
        event.stopPropagation();
    });
</script>


</body>
</html>
