<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Бібліотека 404</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/slick.css"/>

    <link href="/css/tooplate-little-fashion.css" rel="stylesheet">

    <style>
        @media (min-width: 991px) {
            .dropdown-menu.center {
                left: 70% !important;
                transform: translateX(-70%);
            }

        }
    </style>

</head>

<body>

<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" th:href="@{/}">
                <strong><span>Бібліотека</span> СФК ЛНУП</strong>
            </a>

            <div class="d-lg-none">
                <th:block th:if="${isAuth == true}">
                    <a th:href="@{/user/profile}" class="bi-person custom-icon me-3"></a>
                </th:block>
                <th:block th:if="${isAuth == false}">
                    <a th:href="@{/auth/login}" class="bi-person custom-icon me-3"></a>
                </th:block>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Головна</a>
                    </li>

                    <a class="nav-link "  id="booksDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Книги
                    </a>
                    <ul class="dropdown-menu center" id="cssmenu" aria-labelledby="booksDropdown"
                        style="
                                       max-height:550px;
                                       overflow-x:hidden;
                                       overflow-y:visible;">
                        <li>
                            <a class="dropdown-item group-name" data-toggle="collapse" th:href="@{/user/upload}">Додати книгу</a>
                        </li>
                        <li th:each="group : ${groups}">
                            <a class="dropdown-item group-name" data-toggle="collapse" data-target="#group-${group.id}">
                                <span th:text="${group.getName()}"></span>
                            </a>
                            <ul id="group-${group.id}" class="collapse">
                                <li th:each="subject : ${group.getDocuments()}">
                                    <a class="dropdown-item subject-name" data-toggle="collapse" data-target="#subject-${subject.id}">
                                        <span th:text="${subject.getName()}"></span>
                                    </a>
                                    <ul id="subject-${subject.id}" class="collapse">
                                        <li th:each="book : ${subject.getBooks()}">
                                            <a th:href="@{/pdf/previewPDF/{id}(id=${book.getId()})}" class="dropdown-item book">
                                                <span th:text="${book.getName()}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <li class="nav-item">
                        <a class="nav-link" href="https://sclnau.com.ua">Сайт коледжу</a>
                    </li>
                </ul>

                <div class="d-none d-lg-block">
                    <th:block th:if="${isAuth == true}">
                        <a th:href="@{/user/profile}" class="bi-person custom-icon me-3"></a>
                    </th:block>
                    <th:block th:if="${isAuth == false}">
                        <a th:href="@{/auth/login}" class="bi-person custom-icon me-3"></a>
                    </th:block>
                </div>

            </div>
        </div>
    </nav>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto col-12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <h1 class="hero-title text-center mb-5">Щось пішло не так...</h1>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form class="form-signin" method="get" action="/">
                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                    Повернутися на головну
                                </button>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

</main>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $(".group-name").click(function() {
            $(this).next(".collapse").toggleClass("show");
        });

        $(".subject-name").click(function() {
            $(this).next(".collapse").toggleClass("show");
        });
    });

    const dropdownContent = document.querySelector('.dropdown');

    dropdownContent.addEventListener('click', function (e) {
        e.stopPropagation();
    });

    document.addEventListener('click', function () {
        dropdownContent.style.display = 'none';
    });
</script>

<script>
    document.querySelector('.dropdown-menu').addEventListener('click', function(event) {
        event.stopPropagation();
    });
</script>

<!-- JAVASCRIPT FILES -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/Headroom.js"></script>
<script src="/js/jQuery.headroom.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
